@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
  background-color: #1C2430 !important;
  font-family: "Sarabun", sans-serif !important;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'franklin';
  src: url("../src/assets/fonts/FranklinGothic-Heavy.otf") format("opentype");
  font-weight: 700;
}

.ff-franklin {
  font-family: 'franklin', sans-serif;
  font-weight: 700;
}

.slide-track {
  width: max-content;
}

.scroll-left {
  animation: scrollLeft 50s linear infinite;
}

.scroll-right {
  animation: scrollRight 50s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
        transform: translateX(-100%);
  }

  100% {
      transform: translateX(0);
  }
}